body {
    margin: 10px;
    font-family: San system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
}

h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

.mode-button {
    background-color: #008CBA;
}